[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
django = "*"
whitenoise = "*"
djangorestframework = "*"
django-ckeditor = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
