.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chapter_heading_bg {
  background-color: #c7c791 !important;
}

.accordion-button[aria-expanded="true"],
.accordion-collapse {
  color: darkred !important;
  box-shadow: none !important;
}
.accordion-button[aria-expanded="false"],
.accordion-header {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='darkred'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.basmalahFont {
  font-family: Alkalami;
  font-size: x-large;
}
.displayLinebreak {
  white-space: pre-line !important;
}
@font-face {
  font-family: kufiFont;
  src: url(../public/fonts/ReemKufi-Regular.ttf);
}
